@model DiabeticAide.Models.ViewModels.AddHelperViewModel

@{
    ViewData["Title"] = "Helpers";
}

<h1>Helpers!</h1>

<div>
    <ul>

        @foreach (var item in Model.CurrentHelpers)
        {
            <li>
                <form asp-action="RemoveHelper">
                @item.FirstName @item.LastName 
                    <input type="hidden" value="@item.UserId" asp-for="HelperId"/>
                    <input type="submit" value="Remove" class="remove-helper-button btn-sm btn-danger"/>
                </form>
                
        </li>
        }
        
    </ul>
    <h4>Add a Helper</h4>
    <form asp-action="AddHelper">
    <label asp-for="NewHelperId" class="control-label">Add a helper!</label>
    <select asp-for="NewHelperId" class="form-control col-md-4" id="exampleSelect2" asp-items="@Model.PotentialHelpers">
    </select>
        <input type="submit" value="Add Helper" class="btn btn-primary" />
    </form>
</div>

