@page
@model DiabeticAide.Models.ViewModels.AddHelperViewModel
@{
    ViewData["Title"] = "Helpers";
    ViewData["ActivePage"] = ManageNavPages.AddHelper;
}


    <h4>@ViewData["Title"]</h4>
<ul>

@foreach (var item in Model.CurrentHelpers)
{
    <li>@item.FirstName @item.LastName</li>
}
</ul>
<h4>Add a Helper</h4>

    <label asp-for="NewHelperId" class="control-label">Select Product Type</label>
    <select asp-for="NewHelperId" class="form-control" id="exampleSelect2" asp-items="@Model.PotentialHelpers">
        </select>
