@model IEnumerable<DiabeticAide.Models.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Patients</h1>
<div class="cardContainer">
    @foreach (var item in Model)
    {
        <form class="userCard" asp-action="Details" asp-route-id="@item.UserId">
            <input name="userId" type="hidden" value="@item.UserId" />
            <input type="submit" value="@item.FirstName @item.LastName" class="btn-lg btn-danger" />
        </form>
    }

</div>